body {
  background-image: url("images/black-felt.png");
  background-color: blue;
}

#marquee img {
  width: 70%;
  margin: auto;
  display: flex;
}

/* Pay table at the top of the page */
#pay_table {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

#pay_table table {
  margin: auto;
  width: 60%;
}

table {
  display: table-column;
}

table,
th {
  border: 2px solid rgb(250, 246, 6);
  border-collapse: collapse;
}

th,
td {
  color: rgb(250, 246, 6);
  font-size: min(1.8vw, 0.9rem);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(12, 12, 160);
}

th {
  text-transform: uppercase;
  background-color: rgb(4, 4, 75);
}

table th {
  width: 10vw;
}

table th:nth-child(1) {
  width: 20vw;
}

tr {
  text-align: center;
}

.change_bckgrd {
  background-color: white;
}

/* Start display */
.start_display {
  position: relative;
  text-align: center;
  width: 40%;
  margin: auto;
}

.start_display div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  animation: blink 1.3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.start_display img {
  width: 30vw;
  height: auto;
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.start_display h3,
.hook_display h3 {
  font-size: 1.3rem;
  font-family: "Bangers", cursive;
  letter-spacing: 1.5px;
}

/* Info bar  */
.info_bar {
  width: 70%;
  margin: auto;
  text-align: right;
  margin-bottom: 0px;
}

.info_bar h3 {
  color: whitesmoke;
  font-size: 2vw;
}

/* Coin bar */
.coin_bar {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.coin_bar img {
  width: 6vw;
  height: auto;
}

.holder {
  margin-left: 10px;
  margin-right: 10px;
}

/* Area for displaying the cards */
.play_area {
  display: flex;
  justify-content: center;
}

/* Area for displaying the buttons to control play */
.controls_display {
  display: flex;
  justify-content: center;
}

/* Cards display */
.card {
  display: inline;
  margin-left: 4px;
  margin-right: 4px;
}

.card img {
  width: max(10vw, 5.5rem);
  height: auto;
}

/* Buttons */
button {
  border-radius: 8px;
  margin: 5px;
  font-size: 2vw;
  font-weight: bold;
  background-color: crimson;
  border-width: 0px;
}

.help_button,
.close_game_button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transform: scale(0.8);
}

.help_button {
  top: 5px;
  right: 33px;
}

.close_help_button {
  margin: auto;
  margin-bottom: 10px;
}

/* Effects */
.opaque {
  position: relative;
  bottom: 10px;
  opacity: 0.4;
}

.hide {
  display: none;
}

/* Help text display */
.help_display {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(247, 244, 244);
  position: fixed;
  top: 35%;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 3px solid rgb(88, 88, 88);
  border-radius: 30px;
  display: grid;
}

/* Curtain for exiting game */
.curtain {
  background-color: rgba(26, 26, 26, 0.9);

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  animation: fadebackground 3s;
}

@keyframes fadebackground {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(26, 26, 26, 0.9);
  }
}

.hook_display {
  position: absolute;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
}

.hook_display div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(226, 14, 14);
  animation: fade 4s;
  cursor: pointer;
}

.hook_display img {
  transform: rotate(30deg) scale(0.3);
  animation: fade 4s;
  cursor: pointer;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
