body {
  background-image: url("images/black-felt.png");
  background-color: blue;
}

.start_display {
  position: relative;
  text-align: center;
  width: 40%;
  margin: auto;
}

.start_display div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  animation: blink 1.3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.start_display img {
  width: 30vw;
  height: auto;
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.start_display h3 {
  font-size: 1.3rem;
  font-family: "Bangers", cursive;
  letter-spacing: 1.5px;
}

#marquee img {
  width: 70%;
  margin: auto;
  display: flex;
}

.info_bar {
  width: 70%;
  margin: auto;
  text-align: right;
  margin-bottom: 0px;
}

.info_bar h3 {
  color: whitesmoke;
  font-size: 1.8vw;
}

.coin_bar {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.card img {
  height: auto;
  width: 10vw;
}

button {
  border-radius: 8px;
  margin: 5px;
  font-size: 2.5vw;
  font-weight: bold;
  background-color: crimson;
  border-width: 0px;
}

.opaque {
  position: relative;
  bottom: 10px;
  opacity: 0.4;
}

.play_area {
  display: flex;
  justify-content: center;
}

.card {
  display: inline;
}

.card img {
  width: max(10vw, 5.5rem);
  height: auto;
}

.hide {
  display: none;
}

.controls_display {
  display: flex;
  justify-content: center;
}

#pay_table {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

#pay_table table {
  margin: auto;
  width: 60%;
}

table,
th {
  border: 2px solid rgb(250, 246, 6);
  border-collapse: collapse;
}

th,
td {
  color: rgb(250, 246, 6);
  font-size: min(1.8vw, 0.9rem);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(12, 12, 160);
}

th {
  text-transform: uppercase;
  background-color: rgb(4, 4, 75);
}

table th {
  width: 10vw;
}

table th:nth-child(1) {
  width: 20vw;
}

tr {
  text-align: center;
}
